@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Inter:wght@300;400;500;700&family=Montserrat:ital,wght@0,200;0,300;0,700;1,400&family=Neucha&family=Roboto+Mono:wght@700&family=Roboto:wght@300;400;700&display=swap");

.input__box {
  padding: 4px;
  outline: none;
}

.input__box:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 2px solid rgba(81, 203, 238, 1);
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  font-family: "Neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: rgb(11, 10, 10);
  z-index: 1;
  text-align: center;
}

.todos__single {
  border: 1px solid red;
  width : 300px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 5px;
}
